
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --blue-color: #0891b2;
}

.content {
    display: grid;
    grid-template: 1fr 4fr / 15vw 3fr 1fr;
    height: 100vh;
    width: 100vw;
    background-color: rgb(221, 221, 204);
}
.header {
    grid-area: 1 / 2 / 1 / 5;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    border: 2px solid black;
    padding: 10px;
}

.search {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.search img {
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.search-bar {
    width: 100%;
    
}

#search {
    grid-area: 1 / 1 / 2 / 2;
	margin: auto;
	background-color: rgb(143, 142, 142);
	border: none;
	padding: 10px;
	height: 50px;
    width: 90%;
    border-radius: 25px;
}

.user-bar {
    display: grid;
    grid-template-columns: 100px 100px 200px;
    justify-content: center;
    /* gap: 10px; */
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    justify-content:space-evenly;
}

.user-bar img {
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.bell img {
    height: 50px;
    width: 50px;
    border-radius: 0;
}

.greeting {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.greeting img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-right: 10px;
}

#hey {
    margin: 0;
    font-size: 15px;
    margin-bottom: 3px;
    align-self: flex-end;
}

#name {
    margin: 0;
    align-self: flex-start;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--blue-color);
    color: azure;
    border-radius: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    border: 2px solid black;
    grid-area: 1 / 1 / 3 / 1;
    background-color: var(--blue-color);
    color: azure;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.icon {
    width: 35px;
    height: 35px;
    vertical-align: top;
    margin-right: 10px;
    filter: invert(100%) sepia(60%) saturate(2%) hue-rotate(166deg) brightness(110%) contrast(101%);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 70px;
    width: 70px;
    margin-right: -10px;
    filter: invert(100%) sepia(60%) saturate(2%) hue-rotate(166deg) brightness(110%) contrast(101%);

}

.sidebar div {
    margin: 10px;
    font-size: 25px;
    font-weight: 500;
}

.sidebar h1 {
    margin: 25px;
    font-size: 40px;
}

.main-content {
    grid-area: 2 / 2 / 2 / 2;
    border: 2px solid black;
}

.side-content {
    grid-area:  2 / 3 / 2 / 4;
    border: 2px solid black;
}